<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <li>
          <%= link_to 'Português-BR |', class:"nav-link active", params: {locale: 'pt-BR'} %> 
        </li> 
        <li>
          <%= link_to '| English', class:"nav-link", params: {locale: 'en'}%>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>

